# ===============================
# SERVER ENV VARS
# ===============================
PORT=3000
MONGO_URI=mongodb://localhost:27017/todos_dev
# Secret value for JWT token signatures (used if Auth gets enabled) 
JWT_SECRET=super_secret_key_here
CLIENT_URL=http://localhost:5173

# ===============================
# CLIENT ENV VARS
# ===============================
# In Vite applications, only env variables prefixed with VITE_ are exposed to the browser
VITE_API_URL=http://localhost:3000/api
